.cardBg {
    background-color: white;
    border: 1px solid black;
    padding: 0.5em 0.8em;
    box-shadow: 2px 3px 8px grey;
    border-radius: 15px;
}

.data {
    font-size: 2em;
    font-weight: 500;
}
