.buttonBg {
    margin-top: 1em !important;
    background-color: #007BC0;
    width: 100%;
    padding: 1.2em 1em;
    font-size: 1.3em;
    color: white;
    border: 2px solid #007BC0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
}

.buttonBg:hover {
    background-color: #0569a3;
    cursor: pointer;
}

.buttonBg:active {
    background-color: #0c5a88;
    cursor: pointer;
}

.buttonCancelBg {
    margin-top: 1em !important;
    background-color: white;
    width: 100%;
    padding: 1.2em 1em;
    font-size: 1.3em;
    color: #007BC0;
    border: 2px solid #007BC0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
}

.buttonCancelBg:hover {
    background-color: #007BC0;
    color: white;
    cursor: pointer;
}

.buttonCancelBg:active {
    background-color: #0c5a88;
    cursor: pointer;
}

.text {
    user-select: none;
    text-align: center;
}
