.tab {
  background-color: white;
  padding: 1em 1em 0 1em;
  border-radius: 0px 0px 10px 10px;
}

.center {
  display: flex;
  justify-content: center;
}

.colCenter {
    margin-block: 1em;
}

.btn {
  margin: 0em !important;
  height: 100%;
  font-size: 1.1em;
  padding: 0;
}
