.card-container {
  border-top: 2px solid black !important;
}

.section {
  margin-bottom: 15px;
}

.title {
  font-size: 18px;
  padding: 2px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 5px;
}

.footer {
  margin-top: 10px;
  border-top: 2px solid black;
  padding-top: 5px;
  font-weight: bold;
  text-align: center;
}
