.container {
  display: flex;
  flex-wrap: nowrap; /* Keeps all cards in a single row */
  gap: 10px;
  overflow-x: auto;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flexTables {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: stretch;
}

.vsmCard {
  flex: 1; /* Ensures equal width for all cards */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px; /* Fixed width for all cards */
  box-sizing: border-box;
  padding: 10px;
}

.vsmCard * {
  text-align: center;
  word-wrap: break-word; /* Ensures content stays within the fixed width */
}

.center {
  text-align: center;
}

.entrance {
  margin-top: 100px;
}

.arrow {
  margin-top: 80px;
}

.machine {
  margin-top: 10px;
}