header {
    width: 100%;
    margin-bottom: 2.5%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-colors {
    width: 100%;
    height: 10px;
    object-fit: cover;
    object-position: 0 0 -90% 0;
    display: block;
}

.logo {
    height: 2em;
}

.bps {
    height: 3em;
}