.cardBg {
  background-color: #f0f0f0;
  border-radius: 15px;
  padding: 1em;
  border: 1px solid black;
  height: 310px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cardBg::-webkit-scrollbar {
  display: none;
}

.cardTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0.2;
}

.cardText {
  margin: 0.2em;
}

.processName {
  max-width: 10em;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  font-size: 1.2em;
  font-weight: bold;
}

.btnEdit {
  background-color: #007bc0;
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnDelete {
  background-color: #d4151c;
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  margin: 0.5em 0;
}

.data {
  text-align: center;
  font-size: 1.15em;
}
